@import './default';

ul li {
  list-style: none;
}

.clearFix {
  &:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
  }
}

.container {
  .nav-left {
    height: calc(100vh);
    color: $colorM;
    background: $colorR;
  }
  .main {
    height: calc(100vh);
    background-color: $colorL;
    overflow: auto;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}
